<h1>新規ルーム作成</h1>
  <%= form_tag("/calenders/create") do %>
    <p>カレンダー名</p>
    <input name="name">
    <p>カレンダーID</p>
    <input type="password" name="room_id">
    <input type="submit" value="作成">
  <% end %>
